body {
  box-flex: ;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.header-logo{
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  padding-left: 35px;
}
.web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.header{
  background-color: #FFFFFF;
  padding-left: 180px;
}
.header-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-contact{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-navigation :hover{
  color: #2196F3;
} 
.heder-contacts :hover{
  color: #2196F3;
}
.baner{
  background-color:  #2F303A;
  padding-left: 180px;
}
.baner-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.baner-buttons :hover{
  color:white;
  background:#2196f3;
}
.baner-buttontext{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}
.post-benefits{
  padding-left: 180px;
}
.post-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  }
.post-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  }
  .our-work{
    padding-left: 180px;
  }
.post-work{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }
  .our-team{
    padding-left: 180px;
  }
.post-team{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.name{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.position{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.footer {
  background: #2F303A;
  padding-left: 215px;
}
.footerstudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}
.footer-map{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-contacts{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

address :hover{
  color: #2196f3;
}

                              .buttons :hover{
                                color:white;
                                background:#2196f3;
                              }
                              .name-project{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 18px;
                                line-height: 36px;
                                letter-spacing: 0.06em;
                                color: #212121;
                              }
                              .tipe-project{
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 30px;
                                letter-spacing: 0.03em;
                                color: #757575;
                              }
                              .buttons-section {
                                padding-left: 180px;
                              }
                              .portfolio-container{
                                padding-left: 215px;
                              }
                              


  
  