body {
  background-color: white;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #000000;
}
.buttons :hover,
.buttons :focus {
  background-color: #2196f3;
  color: white;
}

.Web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.Studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.FooterStudio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: white;
}
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
